---
import Logo from "./Logo.astro";
---

<nav class="nav border-b border-gray-800 sticky top-0 z-30 bg-gray-900">
    <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between px-4 py-6">
        <ul class="flex flex-col md:flex-row items-center">
            <li>
                <a href="/" class="flex items-center font-bold text-xl">
                    <Logo />
                    <span>유져플래인</span>
                    &nbsp;
                    <span class="text-orange-500">더 무비 DB</span>
                </a>
            </li>
            <li class="md:ml-16 mt-3 md:mt-0">
                <a href="/" class="hover:text-gray-300">Movies</a>
            </li>
            <li class="md:ml-6 mt-3 md:mt-0">
                <a href="/tv" class="hover:text-gray-300">TV Shows</a>
            </li>
            <li class="md:ml-6 mt-3 md:mt-0">
                <a href="http://www.userplane.co.kr:3002/" class="hover:text-gray-300">Live 쇼핑</a>
            </li>
        </ul>
    </div>
</nav>
